h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-image: url(/images/homepage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}
h3 {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 50px;
  animation: title 11s;
}
h1{
	  color: #ffffff;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin: 0;

}

img {
  display: block;
  max-width: 80vh;
  height: auto;
}
.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.player {
  text-align: center;
}
.sasha {
  animation: sasha 25s;
}
.pasha {
  animation: pasha 25s;
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: stars 45s;
}
.stars-image {
	width: 200px;
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.stars-image:hover{
  animation-play-state: paused;
scale: 1.05;
}
.fuck{
	animation: fuck 41s;
}
#start {
  width: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: ball 7s ease-in-out infinite backwards;
}
#start img {
  display: block;
  width: 100%;
  height: auto;
}
#start:hover {
  animation-play-state: paused;
}

@keyframes title {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes sasha {
  0% {
    transform: translate(250%);
  }

  100% {
    transform: translate (0%);
  }
}
@keyframes pasha {
  0% {
    transform: translate(-250%);
  }

  100% {
    transform: translate (0%);
  }
}
@keyframes stars {
  0% {
    transform: translateY(350%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes ball {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(100) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes fuck {
  0% {
	opacity: 0;
	scale: 0;
  }
  98%{
	opacity: 0;
	scale: 5;
  }
  100% {
	opacity: 1;
	scale: 1;
  }
}
